<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<%- include('includes/menu') -%>

		<h2>Envie seus dados</h2>
		<form action="/result">
			<div>
				<label>Nome</label>
				<br>
				<input type="text" name="name" autocomplete="off" />
			</div>
			<br>
			<div>
				<label>E-mail</label>
				<br>
				<input type="text" name="email" autocomplete="off" />
			</div>
			<br>		
			<input type="submit" />
		</form>
	</body>
</html>