<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<%- include('includes/menu') -%>

		<p>Bem-vindo ao Backend. Esta é apenas uma aplicação de testes que será consumida pelos scripts desenvolvidos com Nightmare.js</p>
	</body>
</html>
